<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <table align="center" style="width:98%;">
      <tr>
        <td align="center">
    <!-- <a href="http://charma.herokuapp.com"><img style="width:300px; text-align:center; margin: 0 auto;" src="http://i.imgur.com/e7ITvFq.png"></a> -->

    <h1 style="color:#006da7; text-align:center;">HEY <%= @user.name.upcase %>!</h1>

</td>
</tr>
    <table style="width:100%;">

    <p>
      Why am I yelling at you? I'm just excited to be e-mailing you that's all!
      Thank you oh so kindly for signing up for <a style="color:#006da7;" href="http://charma.herokuapp.com">Charma</a>, we're thrilled to have you!
      <br><br>
      If you have any questions or comments whatsoever, feel free to give us a shout
      (preferably a polite shout, but it's up to you...)
      <br><br>
       Until then, go ahead and charm us with Charma, where your character limit directly correlates to how many people care to read your thoughts!
      <br><br>
      Chris Garvin
      <br>
    </table>
    <table style="width:100%;">

      <a style="color:#006da7;" href="mailto:charmaapp@gmail.com">CharmaApp@gmail.com</a>
    </p>
  </table>

  </table>
  </body>
  <!-- @media only screen and (max-width: 480px) {
  /* mobile-specific CSS styles go here */
  table[class=email], table[class=email-content] {
    clear: both;
    width: 320px !important;
    font-size: 13px !important;
  }
} -->
</html>
