<div class="col-md-12" style="text-align: center;">
<div class="panel panel-default">
  <div class="panel-heading">
    ALL USERS
  </div>
  <table class="table">
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= link_to user.handle, user %>
      </td>
      <td>
        <% if user == current_user %>

        <% else %>
        <% @user = user %>
        <%= render 'follow_form' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

</div>
