<div class="col-md-3 well">
  <h3 style="margin-top: 0; text-align: center">Recent Posts</h3>
  <table class="table">
  <% @leaderboard.each do |leader| %>
  <tr>
    <td>
      <%= link_to leader.post_text, leader.user %><br />
    </td>
  </tr>
  <% end %>
  </table>
</div>
